
<section class="modal">
   <div id="card">

      <a href="{{ url_for('pizzas') }}" id="fechar"><i class="fa fa-times" aria-hidden="true"></i></a>
      <h2>Confirmação</h2>
      <hr>

      <p>Deseja realmente apagar? {{ pizza.pizza_name }} </p>
      <div id="btns">
         <a class="btn-cancelar" href="{{ url_for('pizzas') }}">Cancelar</a>
         <a class="btn-apagar" href="{{ url_for('delte', id = pizza.id) }}">Apagar</a>
      </div>
   </div>
</section>


<style>
    section.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000080;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

section.modal div#card{
  width: 30rem;
  position: relative;
  background-color: #fff;
  border-radius: .5rem;
}

section.modal div#card h2{
  padding: 2rem;
  margin: 0;
  color: #ff0000;
}

section.modal div#card a#fechar{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  color: #ff0000;
  padding: 1.5rem;
}

section.modal div#card a#fechar:hover{
  color: #ff0000;
}

section.modal div#card hr{
  width: 90%;
  margin: 0 auto;
}

section.modal div#card p{
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

section.modal div#card div#btns{
  display: flex;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}

section.modal div#card div#btns a{
  text-decoration: none;
  padding: .9rem;
  border-radius: .5rem;
  width: 7rem;
  text-align: center;
}

section.modal div#card div#btns a.btn-cancelar{
  background-color: #fff;
  color: #ff0101;
  border: solid 1px #dd4242;
  margin-right: 1rem;
  transition: all .5s ease-out;
}

section.modal div#card div#btns a.btn-cancelar:hover{
  background-color: #740808;
  color: #fff;
}

section.modal div#card div#btns a.btn-apagar{
  background-color: #ff0000;
  color: #fff;
  border: solid 1px 740808;
  transition: all .5s ease-out;
}

section.modal div#card div#btns a.btn-apagar:hover{
  background-color: rgb(107, 3, 3);
  color: #fff;
}

</style>