{% extends 'layout.html' %} 

{% block content %}
<!-- Section-->
<section>
  <div class="container main-container" id="mid">

      <div class="row">
          <div class="col-sm-10 offset-sm-1">
              <h2>
                  Quem é a Blue Pizza?
              </h2>
              <br>
              <div class="text-about text-mid">
                  <p>
                      Nasceu de um desejo de criar o mundo de pizza, que está em contínua evolução, respeitando a toda a tradição, é claro, e especialmente o território de suas excelências e seguindo todas as suas sazonalidades. Temos em nosso produto a forma de trazer a melhor compreensão de quem nós nos tornamos e o que nós seremos. 
                  </p>
                  <p>
                      Nosso prazer está em estar servindo, compartilhando e tudo isso com alegria e simpatia todas as nossas delícias, que são nossas pizzas, simplesmente o melhor sabor e isso tudo é para você, o nosso melhor cliente.
                  </p>
                  <p>
                      Aqui na blue pizza, a nossa satisfação não está só em oferecer-te apenas o melhor, mas e oferecer-te sim, o melhor e da melhor forma, afinal de contas, você merece o melhor, por isso, temos o prazer de ter os melhores colaboradores que lhe atenderão com todo carisma e simpatia do mundo, gentileza e cordialidade.
                  </p>
                  <p>
                      E o que dizer da pizza, a coisa que provamos, sem muitas voltas de palavras, uma degustação simples e genuína vai dizer muito para nós. Não é só uma palavra simples com um ponto de chegada, mas uma degustação contínua, para sempre, pois temos o melhor para você que é o nosso melhor cliente.
                  </p>
                  
              </div>

              <!-- <p id="final"> -->
                  <span> Espere o Melhor Sabor!!! </span>
              <!-- </p> -->

          </div>
      </div>
  </div>
</section>
{% endblock %}