{% extends 'layout.html' %} 

{% block content %}
<!-- Section-->
<section class="members">
  <div class="container" id="mid">
      
      <div class="row">                

          <div class="col-img">                       
              
              <img src="../static/img/joao250a.png" alt="" class="img-center">                        
           
          </div>
          <div class="col-desc">

              <div class="col-content">
                  <h3 class="titles-names">João Vitor Gomes</h3>
                  <p>                                
                      João Vitor Gomes, 26 anos e morador de São Paulo/SP. Formado em engenharia civil e atualmente estuda desenvolvimento de software na instuição de ensino Blue Ed Tech. Não poupa esforços para adquirir conhecimento e se tornar um profissional qualificado. </p>
                      <p>
                          <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-gomes-244b7592/" target="_blank"> <img class="network" src="../static/img/linkedin100.png" alt="Ícone Linkedin"></a> 
                          <a href="https://github.com/joaogomes95" target="_blank"> <img class="network" src="../static/img/github100.png" alt="Íncone Github" target="_blank"></a>
                      </p>
              </div>
          </div>                      
             
      </div>




      <div class="row">                

          <div class="col-img">                       
              
              <img src="../static/img/eduardo250a.png" alt="" class="img-center">                        
           
          </div>
          <div class="col-desc">

              <div class="col-content">
                  <h3 class="titles-names">Eudardo Ribeiro</h3>
                  <p>                                
                  Professor de Física e Matemática, e no caminho de ser um programador:
                  Estudante de programação na BlueEdTech. Atualmente estuda Desenvolvimento Web, WebCloud e Banco de Dados; Bons conhecimentos em lógica da progrmação usando Python.
                  </p>
                  <p>
                      <a href="https://www.linkedin.com/in/ribeiro-eduardo" target="_blank"> <img class="network" src="../static/img/linkedin100.png" alt="Ícone Linkedin"></a> 
                      <a href="https://github.com/ribeiroedu" target="_blank"> <img class="network" src="../static/img/github100.png" alt="Íncone Github" target="_blank"></a>
                  </p>
              </div>
          </div>                      
             
      </div>




      <div class="row">                

          <div class="col-img">                       
              
              <img src="../static/img/william250a.png" alt="" class="img-center">                        
           
          </div>
          <div class="col-desc">

              <div class="col-content">
                  <h3 class="titles-names">William Brito </h3>
                  <p>                        
                      Estudante de programação na Blue edtech. Programador - desenvolvedor em formação. Back-end, Front-End e Full Stack.
                      Atualmente focado no desenvolvimento para web, WebCloud e banco de dados voltado em PostgreSQL. Boa lógica de programção fundamentada em linguagem phyton.
                  </p>
                  <p>
                      <a href="https://www.linkedin.com/in/claudenir-ferreira-ab10b3b5/" target="_blank"> <img class="network" src="../static/img/linkedin100.png" alt="Ícone Linkedin"></a> 
                      <a href="https://github.com/devwillbrito" target="_blank"> <img class="network" src="../static/img/github100.png" alt="Íncone Github" target="_blank"></a>
                  </p>
              </div>
          </div>                      
             
      </div>




      <div class="row">                

          <div class="col-img">                       
              
              <img src="../static/img/claudenir250a.png" alt="" class="img-center">                        
           
          </div>
          <div class="col-desc">

              <div class="col-content">
                  <h3 class="titles-names">Claudenir Ferreira</h3>
                  <p>                                
                      Analista de Sistema pela UNICESUMAR / PR. Formação Rede Network CompTia - M.Cury Centro / RJ. Técnico em Hardware - SENAI Niteroi / RJ. Consultor e suporte, Professor de cursos Mod - Ensino Livre e também na Instituição Filantrópica Karanba Forever. Apaixonado por tecnologia, especialmente ao mundo dos códigos: Back, Front, Dados etc...
                  </p>
                  <p>
                      <a href="https://www.linkedin.com/in/claudenir-ferreira-ab10b3b5/" target="_blank"> <img class="network" src="../static/img/linkedin100.png" alt="Ícone Linkedin"></a> 
                      <a href="https://github.com/ClaudenirFer" target="_blank"> <img class="network" src="../static/img/github100.png" alt="Íncone Github" target="_blank"></a>
                  </p>
              </div>
          </div>                      
             
      </div>
      
      


      <div class="row">                

          <div class="col-img">                       
              
              <img src="../static/img/gabriel250a.png" alt="" class="img-center">                        
           
          </div>
          <div class="col-desc">

              <div class="col-content">
                  <h3 class="titles-names">Gabriel Rocha</h3>
                  <p>                                
                      Sou estudante de desenvolvimento de sistemas web. Recentemente estou focado em melhorar minhas habilidades em ferramentas de back-end, como Python e NodeJS

                      Linguagens de programação que conheço: Python, PHP, JavaScript, CSS e HTML. Também tenho algum conhecimento em alguns frameworks como Laravel, ReactJS e Bootstrap
                  </p>
                  <p>
                      <p>
                          <a href="https://www.linkedin.com/in/gabrielrochaas/" target="_blank"> <img class="network" src="../static/img/linkedin100.png" alt="Ícone Linkedin"></a> 
                          <a href="https://github.com/gabrielrochas" target="_blank"> <img class="network" src="../static/img/github100.png" alt="Íncone Github" target="_blank"></a>
                      </p>
                  </p>
              </div>
          </div>                      
             
      </div>                



  </div>
</section>
{% endblock %}